.conteudo__user {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudo__user_login {
    background: none;
    border-style: none;
    text-align: center;
    border-bottom: 2px solid var(--azul-claro);
    color: var(--branco);
    font-size: 20px;
    margin-bottom: 2rem;
}

.conteudo__icon {
    max-width: 4rem;
}

.opcoes {
    margin-top: 1.5rem;
    border-bottom: 1px solid var(--azul-claro);
    padding: 5px 5px;
    background: #00c5cc0a;
}

.opcoes:hover {
    color: var(--azul-claro);
}

p {
    margin-top: .5rem;
    color: grey;
}

footer h2 {
    margin-top: 6rem;
    font-size: 2.5rem;
}